{% extends 'hyperlinks.html' %}
{% block content %}

<title> Key </title>

  <header> 
	   <h1 style="font-size:500%; font-family:verdana;"> Key </h1>
  </header>
<style>
</style>
  <body>
  	   <p1><b> ● 	&nbsp; &nbsp; Tasks:</b> things you have to do</p1> <br><br>
       <p2><b> -	&nbsp; &nbsp; Notes:</b> Things you don't want to forget </p2> <br><br>
       <p3><b> ⚬	&nbsp; &nbsp; Events:</b> Noteworth moments in time </p3> <br><br>
       <p4><b> ●	&nbsp; &nbsp; Tasks complete </p4> <br><br>
       <p5><b> X	&nbsp; &nbsp; Task incomplete </p5> 


  </body>
{% endblock %}

