{% extends 'hyperlinks.html' %}

{% block content %}

<title> This Week </title>

  <header>
	   <h1 style="font-size:500%; font-family:verdana;"> This Week </h1>
	   <h2> 03.15.MON - 03.21.SUN </h2>
  </header>
		
  <body>

    <p2><b> ● </b> buy magnum in sm </p> <br>
    <p3><b> ● </b> feed Zoey the dog </p> <br>
    <p4><b> ● </b> study history </p> <br>
    <p5><b> ● </b> don't skip meals </p> <br>
    <p6><b> ● </b> finish research project </p> <br>
    <p7><b> ● </b> exercise everyday at 4pm </p>
  </body>
{% endblock %}
